<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
	crossorigin="anonymous"></script>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<title>Login page</title>
</head>
<body>






	<div>
		<h1 style="text-align: center;" class="text-white bg-primary">Profile</h1>
	</div>

	<section>

		<!-- Navigation bar-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active "><a
						class="nav-link text-white bg-secondary" href="#"
						th:href="@{/user/index}">Home </a></li>
					<li class="nav-item"><a
						class="nav-link text-white bg-secondary" href="#"
						th:href="@{/user/profile}">profile</a></li>
					<li class="nav-item"><a
						class="nav-link text-white bg-secondary" href="#"
						th:href="@{/logout}">Logout</a></li>
				</ul>

			</div>
		</nav>

		<!-- TABLE -->
		<table class="table table-striped table-primary ">
			<thead>
				<tr >
					<th scope="col">Section</th>
					<th scope="col">Information</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Name</th>
					<td><span th:text="${user.Name}"></span></td>
					
				</tr>
				
				<tr>
					<th scope="row">Email</th>
					<td><span th:text="${user.Email}"></span></td>
					
				</tr>
				
				<tr>
					<th scope="row">Profession</th>
					<td><span th:text="${user.Profession}"></span></td>
					
				</tr>
				
				<tr>
					<th scope="row">Serial Number</th>
					<td><span th:text="${user.SerialNo}"></span></td>
					
				</tr>
				
				
				
			</tbody>
		</table>






	</section>
	
	
	<div class="text-center mt-5">
	<a href="" th:href="@{/user/update}" class="bg-primary text-white p-3" style="text-decoration:none"> Update</a></div>


</body>
</html>